@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --green-primary: #0C713D;
}

*{
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

input:focus-visible{
  outline-color: #0C713D;
  outline-width: 1px;
  outline-offset: 1px;
}

body{
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

// .container{
//   width: 1170px;
// }

.animate-shake :hover{
  animation-name: shake;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.tippy-content {
  background-color: #ffff;
  padding: 0;
  border-radius: 3px;
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  border-bottom-color: #f0f0f0 !important;
}

.home_story_bottom{
  background-image: url("/images/banner/home/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.background__tea{
  background-image: url("/images/common/bg_category_tea.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

// Scroll bar
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .4);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(193, 20, 20, 0);
}

.input-wrapper {
  position: relative;
  width: 0;
}

.changed {
  animation: pulse 0.5s ease-in-out;
}

.button-add{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: left 0.7s ease-out;
}

.input-quatity{
  position: absolute;
  right: 30%;
  transform: translate(-50%, 0);
  transition: right 0.7s ease-out;
}

.move-left{
  left: 35%;
}

.move-right{
  right: 0%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}



// Animation
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3px, 0);
  }
  20% {
    transform: translate(3px, 0);
  }
  30% {
    transform: translate(-3px, 0);
  }
  40% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  60% {
    transform: translate(3px, 0);
  }
  70% {
    transform: translate(-3px, 0);
  }
  80% {
    transform: translate(3px, 0);
  }
  90% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0s ease;
}

.fade-in.show {
  opacity: 1;
}


.sha{
  box-shadow: 0 0 10px #ccc;
}

.custom-dots {
  bottom: 20px; /* Position the dot container at the bottom of the slider */
  
}

.custom-dots li button:before {
  font-size: 12px; /* Adjust the size of the dot */
  color: var(--green-primary); /* Set the color of the dot */
}

.custom-dots li button::after {
  font-size: 12px; /* Adjust the size of the dot */
  color: var(--green-primary); /* Set the color of the dot */
}

.custom-dots li.slick-active button:before {
  color: var(--green-primary); /* Set the color of the dot */

}
